* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #129799;
    color: beige;
  }
  .sectionNav {
    display: flex;
    position: relative;
  }
  #menu {
  }
  .menu1 {
  }
  